{% extends "base.html" %}

{% block title %}Recipe Search{% endblock %}

{% block content %}
<body>
    <h1>Search for a Recipe</h1>
    <form action="/" method="post">
        <p>Recipe Name: <input type="text" name="recipe_name"></p>
        <input type="hidden" name="type" value="search" />
        <p><input type="submit" value="Search"></p>
    </form>

    {% if recipes %}
        <ul>
        {% for result in recipes %}
            <li>
                <h2>Name: {{ result['recipe_name'] }}</h2>
                <p>Author: {{ result['author_id'] }}</p>
                <form action="/" method="post">
                    <input type="hidden" name="author_id" value="{{ result['author_id'] }}"/>
                    <input type="hidden" name="type" value="follow" />
                    <input type="submit" value="Follow this author">
                </form>
                <p>Cooking Time: {{ result['cooking_time'] }}</p>
                <p>Cooking Difficulty: {{ result['cooking_difficulty'] }}</p>
                <p>Descriptions: {{ result['descriptions'] }}</p>
                <form action="/" method="post">
                    <input type="hidden" name="recipe_id" value="{{ result['recipe_id'] }}">
                    <input type="hidden" name="type" value="add">
                    <input type="submit" value="add">
                </form>
                    <p>Rate: 
                        <select name="rate" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </p>
                    <input type="hidden" name="recipe_id" value="{{ result['recipe_id'] }}"/>
                    <input type="hidden" name="type" value="rate" />
                    <input type="submit" value="Rate">
                </form>
                
                
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
    <h2>Submit a New Recipe</h2>
    <form action="/" method="post">
        <p>Recipe Name: <input type="text" name="recipe_name" required></p>
        <p>Cooking Time (mins): <input type="number" name="cooking_time" min="1" required></p>
        <p>Cooking Difficulty: 
            <select name="cooking_difficulty" required>
                <option value="1">Easy</option>
                <option value="2">Easy-lv2</option>
                <option value="3">Medium-lv1</option>
                <option value="4">Medium-lv2</option>
                <option value="5">Hard</option>
            </select>
        </p>
        <p>Descriptions: <textarea name="descriptions" required></textarea></p>
        <input type="hidden" name="type" value="upload" />
        <input type="submit" value="Submit Recipe">
    </form>

</body>
{% endblock %}